@import '../../styles/global';

.nav{
    display:flex;
    width:100vw;
    justify-content: space-between;
    
    &__div2{
        display:flex;
        justify-content: space-evenly;
        width:100%;
    }
    &__form{
        display: flex;
    }
}